body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  text-decoration: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.row {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.row.center {
  align-items: center !important;
}

.col-1 {
  flex-basis: 100% !important;
}

.col-2 {
  flex-basis: 100% !important;
}


@media screen and (min-width:800px) {
  .col-1 {
    flex: 1 !important;
  }
  
  .col-2 {
    flex: 2 !important;
  }
  }


  .block {
    background-color: rgb(255, 247, 177) !important;
    padding: 1rem !important;
    margin: 0.5rem !important;
    border-radius: 25px !important;
    border: 1px solid #ffea31 !important;

  }

  img {
    width: 200px !important;
    min-height: 200px !important;
    border-radius: 25px !important;
  }

  h1, h2, h3 {
    color: rgb(0, 0, 0);
  }

.link {
  color: rgb(196, 17, 17);
  font-weight: bold;
}

button {
  font-size: .8rem;
  color: rgb(255, 255, 255);
  padding: .5rem;
  margin: .5rem;
  border-radius: .5rem;
  border: .5rem;
  background-color: rgb(172, 45, 45);
  width: 100%;
  cursor: pointer;
}

button.add {
  background-color: rgb(95, 199, 98);
  width: 1.5rem;
}
button.remove {
  background-color: rgb(172, 45, 45);
  width: 1.5rem;
}

button.badge {
  background-color: rgb(172, 45, 45);
  width: 1.5rem;
  border: .1rem;
  color: rgb(255, 255, 255);
}

.card {
  width: 15rem !important;
}

.title {
  text-align: center;
}