body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  text-decoration: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row.center {
  align-items: center;
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 100%;
}


@media screen and (min-width:800px) {
  .col-1 {
    flex: 1;
  }
  
  .col-2 {
    flex: 2;
  }
  }


  .block {
    background-color: rgb(255, 247, 177);
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 25px;
    border: 1px solid #ffea31;
  }

  .produce-pic {
    width: 200px;
    min-height: 200px;
    border-radius: 25px;
  }

.logo {
    width: 100px
  }

.cart-icon {
  width: 50px
  
}

  h1, h2, h3 {
    color: rgb(172, 45, 45);
  }

.link {
  color: rgb(196, 17, 17);
  font-weight: bold;
}

button {
  font-size: .8rem;
  color: rgb(255, 255, 255);
  padding: .2rem;
  margin: .1rem;
  border-radius: .5rem;
  border: .1rem;
  background-color: rgb(172, 45, 45);
  width: 100%;
  cursor: pointer;
}

button.add {
  background-color: rgb(95, 199, 98);
  width: 1.5rem;
}
button.remove {
  background-color: rgb(172, 45, 45);
  width: 1.5rem;
}

button.badge {
  background-color: rgb(172, 45, 45);
  width: 1.5rem;
  border: .1rem;
  color: rgb(255, 255, 255);
}
